<%= link_to "Chatroom", root_path, class: "item" %>
<a class="item">
  Messages
</a>
<div class="right menu">
    <% if logged_in? %>
      <a class="item">
          Hey&nbsp;&nbsp;&nbsp;<%= @current_user.username %>
      </a>
               <div class="ui dropdown item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
              <% if logged_in? %>
              <%= link_to "Logout", logout_path, method: :delete, class: "item" %>
              <% else %>
               <%= link_to "Log in", login_path, class: "item" %>
              
              <% end %>
            </div>
          </div>
      <% end %>
   
  <% if !logged_in? %>
    <div class="item">
      <%= link_to "Log in", login_path, class: "ui grey button" %>
    </div>
  <% end %>
</div>